<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="en">
	<head>
      <script type="text/javascript" src="{% static 'market/js/scripts.js' %}"></script>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
            <!---->
	<nav class="bg-white border-green-500 px-2 sm:px-4 py-5 rounded dark:bg-green-500">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="#" class="flex items-center">
            <img src="{% static 'market/images/flag.PNG' %}" class="mr-3 h-6 sm:h-9" alt="" />
            <span class="self-center text-4xl font-semibold whitespace-nowrap dark:text-black">Grandmarket Ja</span>
        </a>
        <button type="button" class="inline-flex items-center p-2 ml-3 text-sm text-black rounded-lg md:hidden hover:bg-black focus:outline-none focus:ring-2 focus:ring-black dark:text-black dark:hover:bg-black dark:focus:ring-black"
               onclick="show('.dropdown')" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="bg-yellow-400 w-6 h-6"  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden bg-black w-6 h-6"  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="flex  items-center md:order-2 " data-dropdown-toggle="">
          <div class="dropdown hidden  w-full ml-5 md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-2xl text-black  rounded md:bg-transparent md:text-black md:p-0 dark:text-yellow-400 md:dark:hover:text-yellow-400 dark:hover:bg-gray-700 dark:hover:text-yellow-400" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-2xl text-black rounded border-b border-gray-100 hover:bg-gray-50 md:hover:bg-gray-700 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-black md:dark:hover:text-yellow-400 dark:hover:bg-gray-700 dark:hover:text-yellow-400 md:dark:hover:bg-bg-gray-700 dark:border-gray-700">About</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-2xl text-black rounded border-b border-gray-100 hover:bg-gray-50 md:hover:bg-gray-700 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-black md:dark:hover:text-yellow-400 dark:hover:bg-gray-700 dark:hover:text-yellow-400 md:dark:hover:bg-bg-gray-700 dark:border-gray-700">Contact</a>
              </li>
              <li>
                <button type="button" class="flex mr-3 text-sm bg-green-500 rounded-full md:mr-0 " id="cart-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
                    <img src="{% static 'market/images/bag.jpg' %}" class="mr-3 h-12 sm:h-12 rounded-full dark:focus:ring-black dark:focus:border-black" alt="" />
                </button>
              </li>
              <li>
                <button type="button" class="flex mr-3 text-sm bg-green-500 rounded-full md:mr-0 " id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="mr-3 h-12 sm:h-12 rounded-full  dark:focus:ring-black dark:focus:border-black" src="{% static 'market/images/20200501_144715.png' %}" alt="user photo">
              </button>
              </li>
            </ul>






            <!-- Dropdown menu -->
            <div class="dropdown hidden z-50 my-4 text-base list-none bg-black rounded divide-y divide-gray-100 shadow dark:bg-black dark:divide-gray-600" id="dropdown1">
              <div class="py-3 px-4">
                <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
              </div>
              <ul class="py-1" aria-labelledby="dropdown">
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                  <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--search and categories-->
      <div>
        <div class="container flex flex-wrap justify-between items-center mx-auto">

          <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-black bg-yellow-400 mt-3 mr-4 hover:bg-black focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center md:dark:hover:text-yellow-400 dark:bg-yellow-400 dark:hover:bg-black dark:focus:ring-green-500" type="button">Categories<svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>

          <div id="" class="dropdown z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(352px, 4px);">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
          <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
          <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
          </li>
          </ul>
          </div>

          <form class="flex-1" id="searchForm" method="GET">
		    <input type="text" id="email-address-icon" class="block p-3 pl-10 mt-3 w-full text-black bg-white rounded-lg border border-gray-300 sm:text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-black dark:focus:border-black" placeholder="Search...">
	      </form>
        </div>
      </div>
    </nav>


    <!--cart-->
    <div></div>

    {% block content %}
	<!-- Content goes here -->
    {% endblock content %}



</html>