<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    {% include 'market/base.html' %}


	{% block content %}
    <div class="container">
        <div class="">
            <h1>Welcome to Grand market Ja.</h1>

        </div>
    </div>
	{% endblock content %}




</body>
    <script src="https://cdn.tailwindcss.com"></script>
</html>