<!DOCTYPE html>
<html lang="en">
{% load static %}


<body class="bg-green-200 overflow-scroll">

	{% block content %}
	{% include 'market/base.html' %}


        <div>
          <div class="w-full pt-5 flex flex-col lg:flex-row lg:px-6">
            <div class="w-full lg:w-56 relative">
              <!-- filter wrap -->
              <div
                class="py-3 bg-white w-full flex items-center justify-center lg:hidden cursor-pointer font-bold"
              >
                Change Filters
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="sliders-h"
                  class="svg-inline--fa fa-sliders-h w-5 fa-w-16 text-xl ml-2"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M496 384H160v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h80v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h336c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160h-80v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h336v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h80c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160H288V48c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16C7.2 64 0 71.2 0 80v32c0 8.8 7.2 16 16 16h208v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h208c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16z"
                  ></path>
                </svg>
              </div>
              <!-- On mobile hide and show this section using hidden and flex begin -->
              <div
                class="hidden absolute left-0 px-6 lg:px-auto bg-white w-full lg:w-auto z-50 mt-10 lg:mt-0 lg:sticky top-0 pt-6 pb-24 lg:flex flex-col lg:max-h-screen"
              >
                <div class="border-b border-gray-300">
                  <a class="text-sm font-bold text-blue-400 underline"
                    > Filter by </a
                  >
                  <div class="my-6">
                    <div class="">
                      <div class="">
                        <div class="flex items-center mb-3 last:mb-0">
                          <input
                            name="service"
                            type="radio"
                            class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                            id="delivery-service"
                            value="delivery"
                            checked=""
                          /><label class="ml-2 text-sm" for="delivery-service"
                            > New </label
                          >
                        </div>
                        <div class="flex items-center mb-3 last:mb-0">
                          <input
                            name="service"
                            type="radio"
                            class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                            id="curbside-service"
                            value="curbside"
                          /><label class="ml-2 text-sm" for="curbside-service"
                            > Like new </label
                          >
                        </div>
                        <div class="flex items-center mb-3 last:mb-0">
                          <input
                            name="service"
                            type="radio"
                            class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                            id="orderin-service"
                            value="orderin"
                          /><label class="ml-2 text-sm" for="orderin-service"
                            > Used </label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-1 lg:overflow-y-scroll">
                  <div class="border-b border-gray-300 py-6">
                    <div class="flex items-center  cursor-pointer">
                      <h5 class="text-sm font-bold mr-8">Sort</h5>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="chevron-up"
                        class="svg-inline--fa w-5 fa-chevron-up fa-w-14 text-blue-400 text-base"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                      >
                        <path
                          fill="currentColor"
                          d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"
                        ></path>
                      </svg>
                    </div>
                    <div class="my-6">
                      <div class="">
                        <div class="">
                          <div class="flex items-center mb-3 last:mb-0">
                            <input
                              name="sort"
                              type="radio"
                              class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                              id="distance-sort"
                              value="distance"
                            /><label class="ml-2 text-sm" for="distance-sort"
                              >Distance</label
                            >
                          </div>
                          <div class="flex items-center mb-3 last:mb-0">
                            <input
                              name="sort"
                              type="radio"
                              class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                              id="popular-sort"
                              value="popular"
                            /><label class="ml-2 text-sm" for="popular-sort"
                              >Popularity</label
                            >
                          </div>
                          <div class="flex items-center mb-3 last:mb-0">
                            <input
                              name="sort"
                              type="radio"
                              class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                              id="topRated-sort"
                              value="topRated"
                              checked=""
                            /><label class="ml-2 text-sm" for="topRated-sort"
                              >Top Rated</label
                            >
                          </div>
                          <div class="flex items-center mb-3 last:mb-0">
                            <input
                              name="sort"
                              type="radio"
                              class="appearance-none w-6 h-6 border border-gray-300 rounded-full outline-none cursor-pointer checked:bg-blue-400"
                              id="atoz-sort"
                              value="atoz"
                            /><label class="ml-2 text-sm" for="atoz-sort">A to Z</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-b border-gray-300 py-6">
                    <div class="flex items-center  cursor-pointer">
                      <h5 class="text-sm mr-8 font-bold">Category</h5>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="chevron-up"
                        class="svg-inline--fa w-5 fa-chevron-up fa-w-14 text-blue-400 text-base"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                      >
                        <path
                          fill="currentColor"
                          d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"
                        ></path>
                      </svg>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name="organic"
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Automobiles </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name="gluten-free"
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""
                          > Beauty & Wellness </label
                        >
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name="kosher"
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Classifieds </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name="paleo"
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Education </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name="vegan"
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Electronics </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name=""
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Food, drinks </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name=""
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=""> Jewellery & Accessories </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name=""
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for=> Tools </label>
                      </div>
                    </div>
                    <div class="my-6">
                      <div class="w-full flex items-center">
                        <input
                          type="checkbox"
                          name=""
                          class="appearance-none w-6 h-6 border border-gray-300 rounded-sm outline-none cursor-pointer checked:bg-blue-400"
                        /><label class="ml-2 text-sm" for="">  </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- On mobile hide and show this section using hidden and flex end -->
            </div>
            <div class="grid grid-cols-2 w-full lg:pl-12 px-6 lg:px-0">
                <!-- feed -->
                <div class="w-full col-span-2 ">
                      <div class="bg-white rounded-md shadow px-10">
                          <div class="bg-grey-lightest text-xl text-center pt-3">
                              Got something u wanna sell? Post it!
                          </div>
                          <div class="px-3 pt-0 pb-2">
                              <div class="flex items-center border-b pb-3">
                                      <textarea class="appearance-none flex-1 ml-2 mt-4" id="body" name="body" placeholder="What's on your mind?"></textarea>
                              </div>
                          </div>

                          <div class="flex justify-end pb-3 text-xs">
                              <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">post</button>
                          </div>
                      </div>

                      <!-- post -->
                      <div>
							<div class="bg-white shadow w-full mt-4 p-10 pb-0 relative px-10 rounded-md">
								  <div class="flex items-center">
									  <div>
										  <img alt="" class="w-13 h-12 rounded-full" src="{% static 'market/images/prof.png' %}">
									  </div>
									  <div class="ml-2">
										  <h5>
											  <a class="text-blue text-2xl no-underline hover:underline" href="#">
												  sellers name
											  </a>

										  </h5>
										  <p class="text-xs font-normal text-grey mt-1">
												  Posted: December 8, 2017
										  </p>
									  </div>
								  </div>
									  <p class=" font-normal text-grey mt-1">
										 Item description
									  </p>
								  <div class="border flex justify-center items-stretch ">
									  <img class="place-self-stretch w-4/5" alt="" src="{% static 'market/images/ss10.jpg' %}">
								  </div>
								  <div class="flex py-1">
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-red hover:bg-grey-lighter">

										  Rate
									  </button>
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-grey-darker hover:bg-grey-lighter">

										  Comment
									  </button>
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-grey-darker hover:bg-grey-lighter">

										  Share
									  </button>
								  </div>

								  <div class="bg-grey-lighter p-2 -mx-3 border">

									  <span class="text-xs text-blue cursor-pointer hover:underline">
										  average rating: 2/10
									  </span>
								  </div>

								  <div class="bg-grey-lighter flex flex-between py-3 -mx-3 p-2">
									  <textarea name="body" placeholder="Write a comment..." class="appearance-none overflow-auto w-full mx-2 bg-grey-lighter rounded-full border bg-white h-8 px-2 pt-2 text-xs"></textarea>
									  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">post</button>
								  </div>
							  </div>
						  	</div>

							<div class="bg-white shadow w-full mt-4 p-10 pb-0 relative px-10 rounded-md">
								  <div class="flex items-center">
									  <div>
										  <img alt="" class="w-13 h-12 rounded-full" src="{% static 'market/images/prof.png' %}">
									  </div>
									  <div class="ml-2">
										  <h5>
											  <a class="text-blue text-2xl no-underline hover:underline" href="#">
												  sellers name
											  </a>

										  </h5>
										  <p class="text-xs font-normal text-grey mt-1">
												  Posted: December 8, 2017
										  </p>
									  </div>
								  </div>
									  <p class=" font-normal text-grey mt-1">
										 Item description
									  </p>
								  <div class="border flex justify-center items-stretch ">
									  <img class="place-self-stretch w-4/5" alt="" src="{% static 'market/images/ss10.jpg' %}">
								  </div>
								  <div class="flex py-1">
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-red hover:bg-grey-lighter">

										  Rate
									  </button>
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-grey-darker hover:bg-grey-lighter">

										  Comment
									  </button>
									  <button class="appearance-none flex-1 flex items-center justify-center py-2 text-center text-grey-darker hover:bg-grey-lighter">

										  Share
									  </button>
								  </div>

								  <div class="bg-grey-lighter p-2 -mx-3 border">

									  <span class="text-xs text-blue cursor-pointer hover:underline">
										  average rating: 2/10
									  </span>
								  </div>

								  <div class="bg-grey-lighter flex flex-between py-3 -mx-3 p-2">
									  <textarea name="body" placeholder="Write a comment..." class="appearance-none overflow-auto w-full mx-2 bg-grey-lighter rounded-full border bg-white h-8 px-2 pt-2 text-xs"></textarea>
									  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">post</button>
								  </div>
							  </div>
						  	</div>
					  </div>

				<!-- ads? -->
                  <div class="hidden lg:flex ml-10 col-end-7 sm:">


                    <img src="{% static 'market/images/adb.jpg' %}">

                  </div>
                </div>
            </div>
          </div>
        </div>


	{% endblock content %}


</body>
</html>