<!-- Recommended Start -->
		<div class="my-5 h-64">
			<div>
				<div class="flex items-center justify-between px-4 py-2 ">
					<h1 class="text-2xl font-bold ">Recommended</h1>
					<button class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-200 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none">View all</button>
				</div>
			</div>
			<div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 xl:max-w-6xl max-w-4xl">
				<!-- Tile 1 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/ak_logo.png' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Apple Kings</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>
				<!-- Tile 2 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/bear.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Blake's bearer</h4>
						<p class="text-sm">We get it to you in a flash</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Service</a>
						</div>
					</div>
				</div>

				<!-- Tile 3 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 w-24 mr-5 bg-black" src="{% static 'market/images/express.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">China express</h4>
						<p class="text-sm">Chines Food</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Food</a>
						</div>
					</div>
				</div>

				<!-- Tile 4 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 w-25mr-5 bg-black" src="{% static 'market/images/hand.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Hand crafted</h4>
						<p class="text-sm">For beautiful hand crafted pieces</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Jewellery and accessories  </a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">service</a>
						</div>
					</div>
				</div>

				<!-- Tile 5 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/ak_logo.png' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Apple Kings</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>

				<!-- Tile 6 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/ak_logo.png' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Apple Kings</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>

				<!-- Tile 7 -->
				<div class="flex bg-white rounded-lg p-4 m-2">
					<img class="rounded-full h-24 mr-5" src="{% static 'market/images/brands/cafe-logo2.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Fast food</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>

				<!-- Tile 8 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/brands/cafe-logo3.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">McDonalds</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>

				<!-- Tile 9 -->
				<div class="flex bg-white rounded-lg p-4 m-2">
					<img class="rounded-full w-24 h-24 mr-5" src="{% static 'market/images/brands/cafe-logo1.jpg' %}" alt="Product title here">					<div class="flex flex-col items-start ml-4">
					<div class="flex flex-col items-start ml-4">
						<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Kfc</h4>
						<p class="text-sm">We sell fried chicken</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Food</a>
						</div>
					</div>
					</div>
				</div>

			</div>
		</div>
		<!-- Component End  -->


		<div class="my-5">
			<div>
				<div class="flex items-center justify-between px-4 py-2 ">
					<h1 class="text-2xl font-bold ">All stores</h1>
					<button class="px-2 py-1 text-xs font-semibold text-gray-900 uppercase transition-colors duration-200 transform bg-white rounded hover:bg-gray-200 focus:bg-gray-400 focus:outline-none">View all</button>
				</div>
			</div>
			<div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 xl:max-w-6xl max-w-4xl">
				<!-- Tile 1 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/ak_logo.png' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Apple Kings</h4>
						<p class="text-sm">Shop authentic Apple products with AppleKings</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Electronics</a>
						</div>
					</div>
				</div>
				<!-- Tile 2 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 mr-5 bg-black" src="{% static 'market/images/bear.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">Blake's bearer</h4>
						<p class="text-sm">We get it to you in a flash</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Service</a>
						</div>
					</div>
				</div>

				<!-- Tile 3 -->
				<div class="flex bg-white rounded-lg p-4 m-2 ">
					<img class="rounded-full h-24 w-24 mr-5 bg-black" src="{% static 'market/images/express.jpg' %}" alt="Product title here">
					<div class="flex flex-col items-start ml-4">
						<h4 class="text-xl font-semibold">China express</h4>
						<p class="text-sm">Chines Food</p>
						<div class="mt-5">
							<a class="p-2 leading-none rounded font-medium mt-3 bg-yellow-400  uppercase" href="#">See more</a>
							<a class="bg-yellow-400 rounded p-2 text-xs" href="#">Food</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Component End  -->